<div class="jumbotron">
  <h1>Djurlistarsidan</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <p>Listar ut djur. Det finns här 3 olika varianter på samma applikation.</p>

    <h3>Version 1 - Allt i controllers</h3>
    <p>Den enklaste versionen. Här sker all logik i controllern</p>

    <h3>Version 2 - Använder service</h3>
    <p>Här har viss logik flyttats till en <b>service</b>.</p>

    <h3>Version 3 - Extern data</h3>
    <p>I den här versionen hämtas datan från en extern tjänst.</p>
  </div>

</div>
