.container {
  position: relative;
}

.square {
  background: lightblue;
  border: 1px solid blue;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.circle {
  background: pink;
  border: 1px solid red;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.large-text {
  font-size: 10em;
  margin: 0;
  color: #E72486;
}

/* EXERCISES */

.exercise-layout {
  display: flex;
}

.exercise-column {
  padding: 50px;
}
